lingua-franca~=0.4.3

# Веб-сервер
uvicorn~=0.18.3
uvicorn[standard]~=0.18.3
fastapi~=0.81.0
fastapi-utils
starlette~=0.19.1

# Распознание голоса
vosk
vosk-tts

# Локальные запись и воспроизведение звука
sounddevice~=0.4.3
soundfile~=0.10.3.post1

termcolor~=1.1.0
requests
python-dateutil~=2.6.0
